p {
    position: relative;
    margin-left: 850px;
    color: cyan;
}


body {  
    background-color: #000;    
    margin: 0;  
    overflow: hidden;  
    background-repeat: no-repeat;  
}  

@media(min-width : 300px) and (max-width : 350px){
    p{
        position: relative;
    }
}